.pt-md-62 {
	padding-top: 62px;
}

.CollapsibleHeader-collapse img {
	max-height: 46px;
}

.PageBody {
	margin-top: 140px;
}

#header {
	background-color: rgb(221, 221, 221);
}

@media (max-width: 768px){
	#header {
		position: static !important;
		padding-left: 0px !important;
	}

	#header .container {
		padding-left: 0px !important;
	}

	#header img {
		max-height: 50px !important;
	}

	.PageBody {
		margin-top: 0px;
	}

	.pt-md-62 {
		padding-top: 0px;
	}
}
