.pt-md-62 {
	padding-top: 62px;
}

.CollapsibleHeader-collapse img {
	max-height: 46px;
}

.PageBody {
	margin-top: 140px;
}

#header {
	background-color: rgb(221, 221, 221);
}

#CurrentConditionsAtAGlanceDetail {
	float: right;
}

.CurrentConditionsAtAGlanceDetail-wrapper,
#CurrentConditionsAtAGlanceDetail-weatherInfo {
	display: inline-block;
	vertical-align: middle;
}

#CurrentConditionsAtAGlanceDetail-wrapper-cityName {
	width: 150px;
	font-weight: 700;
}

.CurrentConditionsAtAGlanceDetail-wrapper-sky {
	font-weight: 400;
}

#CurrentConditionsAtAGlanceDetail-temp {
	font-size: 36px;
	vertical-align: middle;
	font-weight: 700;
}

#weather-icon {
	background-size: contain;
	height: 50px;
	width: 50px;
	display: inline-block;
	vertical-align: middle;
}

.CollapsibleHeader-topHeader {
	width: 100%;
	float: right;
}

.CollapsibleHeader-HeaderMenu {
	width: 100%;
	float: right;
}

@media (max-width: 991.98px){
	.PageBody {
		margin-top: 200px;
	}

	.CollapsibleHeader-HeaderMenu {
		display: none;
	}
}

@media (min-width: 992px) {
	.CollapsibleHeader-HeaderMenu {
		display: block;
	}
}

@media (max-width: 768px){
	#header {
		position: static !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	#header .container-md {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	#CollapsibleHeader-logo {
		padding-right: 0px;
	}

	#CollapsibleHeader-logo img {
		max-height: 50px !important;
	}

	#HeaderMenu {
		padding-left: 0px;
		text-align: right;
	}

	.PageBody {
		margin-top: 10px;
	}

	.pt-md-62 {
		padding-top: 0px;
	}

	.CurrentConditionsAtAGlanceDetail-wrapper {
		display: inherit;
	}

	#CurrentConditionsAtAGlanceDetail-wrapper-cityName {
		width: 115px;
		font-size: 20px;
	}

	#CurrentConditionsAtAGlanceDetail-temp {
		font-size:24px;
	}

	#weather-icon {
		width: 24px;
		height: 24px;
	}

	.CollapsibleHeader-topHeader {
		display: inline-block;
		vertical-align: top;
		float: none;
		width: calc(14vw);
	}

	.CollapsibleHeader-HeaderMenu {
		display: inline-block;
		vertical-align: top;
		float: none;
		width: auto;
	}
}
